<div class="col s12">
  <a class="btn-floating btn-small right waves-effect waves-light red" id="addSocket" ng-click="newTab();">
    <i class="material-icons">add</i>
  </a>
  <ul class="tabs grey darken-4" id="tabs-sockets">
    <li class="tab col s3" *ngFor="let tab of tabsData; index as i; first as isFristTab">
      <a href="#tab-{{i}}" [ngClass]="{'active':isFristTab}" class="deep-purple-text text-darken-1">
        <span>{{tab.name || 'Socket ' + i}}</span>
        &nbsp;
        <i class='fa fa-edit'></i>
      </a>
    </li>
  </ul>
</div>
<div id="tab-{{i}}" class="col s12" *ngFor="let tab of tabsData; index as i">
  <div class="row">
    <div class="input-field col s4">
      <input id="ws-{{i}}" type="text" name="ws-{{i}}" [(ngModel)]="tab.ws" class="white-text">
      <label for="ws-{{i}}">WS URL</label>
    </div>
    <div class="col s2 ajust-top-15">
      <a class="waves-effect waves-light btn green darken-1" (click)="connectSocket(i)">
        <span *ngIf="!tab.socketStatus">
          Connect
        </span>
        <span *ngIf="tab.socketStatus">
          Reconnect
        </span>
      </a>
    </div>
    <div class="col s2 ajust-top-15">
      <a class="waves-effect waves-light btn red darken-1" [ngClass]="{'disabled': !tab.socketStatus && tab.socket === null}" (click)="disconnectSocket(i)">
        Disconnect
      </a>
    </div>
    <div class="col s3"></div>
  </div>
  <ul class="tabs grey darken-4" id="socket-{{i}}-tabs">
    <li class="tab col s3">
      <a href="#tab-{{i}}-options" class="deep-purple-text text-darken-1 active">Options</a>
    </li>
    <li class="tab col s3">
      <a href="#tab-{{i}}-events" class="deep-purple-text text-darken-1">Events</a>
    </li>
    <li class="tab col s3">
      <a href="#tab-{{i}}-emits" class="deep-purple-text text-darken-1">Emits</a>
    </li>
  </ul>
  <div id="tab-{{i}}-options">
    <ul class="collapsible no-border" style="box-shadow: none" id="options-{{i}}-collaps">
      <li class="no-border">
        <div class="collapsible-header no-border grey darken-2 grey-text text-lighten-3">Path</div>
        <div class="collapsible-body no-border">
          <div class="row">
            <div class="input-field col s4">
              <input [(ngModel)]="tab.options.path.value" name="path-{{i}}" id="path-{{i}}" type="text">
              <label for="path-{{i}}" [ngClass]="{'active':tab.options.path.value}">Path</label>
            </div>
            <div class="switch col s2 center-align">
              <label>Active</label>
              <br>
              <label>
                Off
                <input type="checkbox" [(ngModel)]="tab.options.path.active" id="socket-{{i}}-path-{{i}}-active">
                <span class="lever"></span>
                On
              </label>
            </div>
          </div>
        </div>
      </li>
      <li class="no-border" [ngClass]="{'active':tab.options.querys.length > 0}">
        <div class="collapsible-header no-border grey darken-2 grey-text text-lighten-3">
          Querys <i class="material-icons right" (click)="addQuery(i)">add</i>
        </div>
        <div class="collapsible-body no-border">
          <div class="row" *ngFor="let query of tab.options.querys; index as q">
            <div class="input-field col s3">
              <input [(ngModel)]="query.name" name="socket-{{i}}-query-{{q}}-name" id="socket-{{i}}-query-{{q}}-name" type="text">
              <label for="socket-{{i}}-query-{{q}}-name" [ngClass]="{'active':query.name}">Name</label>
            </div>
            <div class="input-field col s3">
              <input [(ngModel)]="query.value" name="socket-{{i}}-query-{{q}}-value" id="socket-{{i}}-query-{{q}}-value" type="text">
              <label for="socket-{{i}}-query-{{q}}-value" [ngClass]="{'active':query.value}">Value</label>
            </div>
            <div class="switch col s2">
              <label>Active</label>
              <br>
              <label>
                Off
                <input type="checkbox" [(ngModel)]="query.active" id="socket-{{i}}-query-{{q}}-active">
                <span class="lever"></span>
                On
              </label>
            </div>
            <div class="col s1">
              <a class="waves-effect waves-light btn green darken-1" (click)="saveQuery(i, q)">
                <i class="material-icons">save</i>
              </a>
            </div>
            <div class="col s1">
              <a class="waves-effect waves-light btn red darken-1" (click)="deleteQuery(i, q)">
                <i class="material-icons">delete</i>
              </a>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div id="tab-{{i}}-events">
    <div class="row">
      <div class="col s6">
        <br>
        <div class="row" *ngFor="let event of tab.events; index as e">
          <div class="input-field col s6">
            <input [(ngModel)]="event.name" name="socket-{{i}}-event-{{e}}-name" id="socket-{{i}}-event-{{e}}-name" type="text">
            <label for="socket-{{i}}-event-{{e}}-name" [ngClass]="{'active':event.name}">Name</label>
          </div>
          <div class="col s2 center ajust-top-15">
            <a class="waves-effect waves-light btn" (click)="viewEvent(i, e)">
              <i class="material-icons">visibility</i>
            </a>
          </div>
          <div class="col s2 center ajust-top-15">
            <a class="waves-effect waves-light btn green darken-1" (click)="saveEvent(i, e)">
              <i class="material-icons">save</i>
            </a>
          </div>
          <div class="col s2 center ajust-top-15">
            <a class="waves-effect waves-light btn red darken-1" (click)="deleteEvent(i, e)">
              <i class="material-icons">delete</i>
            </a>
          </div>
        </div>
        <div class="row">
          <a class="waves-effect waves-light btn green darken-1 right" (click)="addEvent(i)">
            <i class="material-icons">add</i>
          </a>
        </div>
      </div>
      <div class="col s6">
        <div class="editor" id="socket-{{i}}-event-data"></div>
      </div>
    </div>
  </div>
  <div id="tab-{{i}}-emits">
    <div class="row">
      <div class="col s6">
        <br>
        <div class="row" *ngFor="let emit of tab.emits; index as em">
          <div class="input-field col s5">
            <input [(ngModel)]="emit.name" name="socket-{{i}}-emit-{{em}}-name" id="socket-{{i}}-emit-{{em}}-name" type="text">
            <label for="socket-{{i}}-emit-{{em}}-name" [ngClass]="{'active':emit.name}">Name</label>
          </div>
          <div class="col s2 center ajust-top-15">
            <a class="waves-effect waves-light btn" (click)="editEmit(i, em)">
              <i class="material-icons">edit</i>
            </a>
          </div>
          <div class="col s2 center ajust-top-15">
            <a class="waves-effect waves-light btn" (click)="sendEmit(i, em)">
              <i class="material-icons">send</i>
            </a>
          </div>
          <div class="col s2 center ajust-top-15">
            <a class="waves-effect waves-light btn green darken-1" (click)="saveEmit(i, em)">
              <i class="material-icons">save</i>
            </a>
          </div>
          <div class="col s2 center ajust-top-15">
            <a class="waves-effect waves-light btn red darken-1" (click)="deleteEmit(i, em)">
              <i class="material-icons">delete</i>
            </a>
          </div>
        </div>
        <div class="row">
          <a class="waves-effect waves-light btn green darken-1 right" (click)="addEmit(i)">
            <i class="material-icons">add</i>
          </a>
        </div>
      </div>
      <div class="col s6">
        <div class="editor" id="socket-{{i}}-emit-data"></div>
      </div>
    </div>
  </div>
  <div class="row footer">
    <div class="col s12">
      <div class="col s1">
        <i class='fa fa-terminal'></i>
      </div>
      <div class="col s2 push-s9">
        <span class="badge grey-text text-lighten-5" id="socket-{{i}}-status" [ngClass]="{'red': !tab.socketStatus, 'green': tab.socketStatus}">
          <span *ngIf="tab.socketStatus">
            Socket connected
          </span>
          <span *ngIf="!tab.socketStatus">
            Socket offline
          </span>
        </span>
      </div>
    </div>
  </div>
</div>
